body {
	background-color:#a872a3;
	font-family: Comfortaa;
	font-weight: normal;
	margin:0;
}
h1 {
	font-weight: normal;
   	color: #54556E;
   	font-family: Comfortaa;
}
.maincard {
	background-color:#ffffff;
	height:100%;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 5px;
	text-align: center;
	word-wrap: break-word;
}
.user:hover {
	background-color:#2a8b9d;
	font-weight: normal;
    color: #FFFFFF;
}
.user {
	margin: 2%;
	border-radius: 5px;
	padding: 0;
}
hr {
	background-color:#54556E;
	width:96%;
}
*{
	
}
@-webkit-keyframes cycle-banner {
	    0%   {
	    		background-color: #A973A2;
	    	}
	    25%   {
	    		background-color: #A973A2;
	    	}
	    31%   {
	    		background-color: #7BC8A4;
	    	}
	    60%   {
	    		background-color: #7BC8A4;
	    	}
	    66%   {
	    		background-color: #F99A66;
	    	}
	    94%  {
	    		background-color: #F99A66;
	    	}
	}
	
	/* Standard syntax */
	@keyframes cycle-banner {
	    0%   {
	    		background-color: #A973A2;
	    	}
	    25%   {
	    		background-color: #A973A2;
	    	}
	    31%   {
	    		background-color: #7BC8A4;
	    	}
	    60%   {
	    		background-color: #7BC8A4;
	    	}
	    66%   {
	    		background-color: #F99A66;
	    	}
	    94%  {
	    		background-color: #F99A66;
	    	}
	}